
#nav {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: "Poppins", Arial;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .75rem;
    letter-spacing: .05625rem;
    color: #222;
}

.navbar{
  position: fixed;
  background: #fff;
  border-bottom: 1px solid rgba(240, 240, 240, .8);
  height: 70px;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 7%);
   z-index: 4;
}
.navbar-light .navbar-nav .nav-link {
    color: #222;
  }
.navbar-light .navbar-nav .nav-link {
 padding: 20px; 
    
}
.extra-nav {
    padding-left: 10px;
  }
  
  ul {
    list-style: none;
    padding-left: 0;
  }
   ul {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  
  
  .extra-nav > ul > li:first-child {
    border-left: 1px solid;
    padding: 0 0 0 15px;
  }
  
  a {
    transition: all .3s ease-in-out;
  }
  a {
    color: #505cfd;
    text-decoration: none;
    background-color: transparent;
  }
  .extra-nav > ul > li > a > .menu-item-span {
    
    position: relative;
    display: block;
    top: 50%;
  }
  .top-bar-cart > span > span {
    position: absolute;
    background: #505cfd;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    left: -4px;
    top: 1px;
    text-align: center;
    letter-spacing: 0;
    line-height: 16px !important;
    font-size: .5rem;
    color: #fff;
  }
  .extra-nav > ul > li > a, .extra-nav > ul > li > a {
    color: #222;
  }
  
  .extra-nav > ul > li:last-child {
    padding-right: 0 !important;
  }
  .extra-nav > ul > li {
    position: relative;
    display: block;
    height: 100%;
    float: left;
    margin: 0;
    transition: padding .3s ease-out;
  }
  .extra-nav > ul > li > a {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    padding: 0 11px;
    letter-spacing: .05625rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.0625rem;
  } 
  
.shop{
    background-image: url(module-16.jpg);
    background-repeat: no-repeat;
height: 600px;
background-position: center;
background-size: cover;
}
.shopg{
    margin-top: 180px;
    text-align: center !important;
    color: #fff;
    font-size: 3.75rem;
    font-weight: 400;
    letter-spacing: .03125rem ;
}
.breadcrumb ol li{
    color: #fff;
    text-decoration: none;
}
a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}
.shop-grid-item {
    margin-bottom: 40px;
}
.shop-item-thumb {
    position: relative;
    overflow: hidden;
}

.shop-item-thumb{
    margin-bottom: 20px;}
.a {
 transition: all .3s ease-in-out;
    }
    
    .a {
       
        text-decoration: none;
        background-color: transparent;
    }
    .shop-item-thumb img {
        transition: all .3s ease-in-out;
    }
    
    img {
        max-width: 100%;
        height: auto;
    }
    img {
        vertical-align: middle;
        border-style: none;
    }
     .shop-item-thumb:hover .shop-item-hidden {
        transform: translateY(-50px);
    } 
    .shop-item-thumb:hover img {
        opacity: .5;
    }
    
    .shop-item-thumb img {
        transition: all .3s ease-in-out;
    }
    .shop-item-hidden {
        position: absolute;
        width: 100%;
        top: 100%;
        text-align: center;
        transition: all .3s ease-in-out;
    }
   
    
    
    .btn {
        text-transform: uppercase;
        letter-spacing: .1125rem;
        font-size: .75rem;
        cursor: pointer;
    }
   
    .btn-new-white {
        color: #212529;
        background-color: #fff;
        border-color: #fff;
    }
    .btn-new-white:hover{
        background-color: #fff;
    }
    .btn {
        display: inline-block;
        font-weight: 600;
        color: #788487;
        text-align: center;
        vertical-align: middle;
       
        background-color: transparent;
        border: 2px solid transparent;
        padding: 1rem 1.875rem;
        font-size: .75rem;
        line-height: 1.5;
        border-radius: 0.1875rem;
       
    }
.shop-item-captions {
    text-align: center;
}
.shop-item-title {
    margin: 0 0 5px;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.3;
    color: #222;
}
.shop-item-price {
    opacity: .5;
}
.shop-item-captions {
    text-align: center;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #505cfd;
    border-color: #505cfd;
}

.page-link {
    border-radius: 100%;
    font-weight: 600;
    margin-left: 8px;
}
.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.875rem;
    margin-left: 0;
    line-height: 1.25;
    color: #788487;
    background-color: #fff;
    border: 0 solid #dee2e6;
}
a {
    transition: all .3s ease-in-out;
}

.page-item:first-child .page-link {
    border-radius: 100%;
}
.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0.1875rem;
    border-bottom-left-radius: 0.1875rem;
}
.footer{
  background: #222;
} 
.widget {
  font-size: .8125rem;
}
.widget .widget-title > h6 {
  text-transform: uppercase;
  letter-spacing: 2.6px;
  font-weight: 700;
  font-size: .6875rem;
  color: #fff;
  /* margin-left: 31px; */
}
.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}
.textwidget{
font-family: "Poppins", Arial;
font-size: .875rem;
font-weight: 400;
line-height: 1.8;
color: #788487;
}
.footer .social-icons > li > a {
    color: #cecece;
    color: #fff;
}

.social-icons > li > a {
    font-size: .8125rem;
    color: #222;
}
.widget a {
    color: #788487;
}
.a {
    transition: all .3s ease-in-out;
}
.img {
  max-width: 100%;
  height: auto;
}

.img {
  vertical-align: middle;
  border-style: none;
}
.widget-recent-works > ul > li {
    border: 0 !important;
    float: left; 
    width: 33.333%;
    padding: 4px;
    margin: 0;
  
}
ul {
  padding-left: 0rem;
}

.footer .widget-recent-entries ul li, 
.footer 
.widget-recent-entries-custom ul li {
  border-color: #2f2f2f;
}
/* .widget .widget-title {
  margin-bottom: 24px;
} */

 .widget-categories ul li:first-child,
 .widget-recent-entries ul li:first-child,
  .widget-recent-entries-custom ul li:first-child {
  padding-top: 0;
 
}  
.widget-categories ul li, 
.widget-recent-entries ul li,
 .widget-recent-entries-custom ul li {
  border-bottom: 1px solid #f0f0f0;
  padding: 13px 0;
 
}
.footer a, .footer .social-icons > li > a {
  color: #cecece;
}
.a {
  transition: all .3s ease-in-out;
}
.post-date {
  font-size: .6875rem;
  color: #a3a6a8;
  display: block;
  margin: 0;
  line-height: 1.6;
}
.social-icons > li {
  display: inline-block;
  margin: 0 20px 0 0;
}
.footer a, .footer .social-icons > li > a {
  color: #cecece;
}

.social-icons > li > a {
  font-size: .8125rem;
  color: #222;
}
.widget a {
  
  color:#fff;
}
.a {
  transition: all .3s ease-in-out;
}
.footer-widgets + .footer-bar {
  border-top: 1px solid #2c2c2c;
}
.footer-bar {
  
  font-size: .75rem;
  padding: 22px 0;
}
.copyright{
  color: #788487;
}

@media screen and (max-width: 992px) {
    .mobextranav {
      display: none;
    }
  
  .navbar-nav .nav-link a{
    color: #fff !important;
  }
  .navblack{
    /* background: black !important; */
    margin-top: 14px;
    margin-left:-11px;
    width: 30px;
  }
  .nav-item a{
  color: #fff !important;
  }
  .navbar-nav a{
    background-color: #222;
    
  }
  
  .backgroundimg{
  height: 160vh;
  }
  
  .ppp{
   font-size: 30px;
  }
  .row-post-masonry{
    margin-top: 400px;
  }
  .navbar-light .navbar-togsgler{
    border: none;
    color: transparent;
  }
  }




    